<div class="row">
	<div class="col-lg-3"></div>
    <script>

    </script>
	<div class="col-lg-6" ng-controller="GamesController">
		<div class="well">
    	<h2 class="text-center">Search for a game!</h2>
        <form class="bs-example bs-example-form" data-example-id="simple-input-groups">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">name</span>
                    <input type="text"  placeholder="e.g. Chess" name="search" class="form-control" ng-model="nameFilter" />
            </div>
       




        </form>
    	<!--<div class="form-group">
    		<input type="text" name="search" class="text-center form-control" ng-model="nameFilter" />
            <form novalidate class=""
    	</div> -->
    	</div>
    	<div class="well">
    	<!--<ul class="list-group" ng-repeat="game in games | filter: searchFilter">-->
        <ul class="list-group" ng-repeat="game in games | filter: searchFilter">
   			<li class="list-group-item text-center">
                <a href="#/{{game.objectid}}">
                    <span class="bgg_thumb_wrapper"><img class="bgg_thumb" src="http:{{game.thumbnail}}"/></span>
                    <p><strong>{{game.objectname}} — for {{game.minplayers}} to {{game.maxplayers}} players in {{game.playingtime}} minutes</strong></p>
                </a>
            </li>
    	</ul>
    	</div>
	</div> 
	<div class="col-lg-3"></div>
</div>