<!doctype html>
<html ng-app="BoardGame">
    <head>     
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/bootsrap-theme.min.css">
    </head>    
    <body>
    	<ng-view></ng-view>          
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-resource.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
		<script type="text/javascript" src="javascripts/boardgame.js"></script>  
		<script type="text/javascript" src="javascripts/GamesController.js"></script>
		<script type="text/javascript" src="javascripts/GamesService.js"></script>
        <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    </body>
</html>