@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

li {
    list-style-type:none;
}

.menu-sep {
    height:20px;
    width:100%;
}

img {
  margin: 0px 15px 15px 0px;
}

.bgg_thumb_wrapper {
    padding : .5em;
}

.bgg_thumb {
    max-width : 100%;
    max-height: 100%;
    width : 3em;
    height: 3em;
}